Q1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.
*
'hello'
-87.8
-
/
+
6
Ans. The Values are : "hello", -87.8 , 6
     The expressions are : * , - , / , +

Q2. What is the difference between string and variable?
Ans. variable is a kind of entity which helps us to hold any kind of data into our main memory ie RAM.
     Ex-01 : a = 10 (here a is variable and holding an integer data)
     Ex-02 : b = 'sudh' ( here b is a variable which is holding a string data)
        In this way any kind of data can be stored in a variable like movie, csv file, image etc.
        
        Python will be able to understand type of data a variable is storing. No need to define it.
       
     String : A series of characters enclosed in a single quote or double quote is known as string.
            Ex-01 : a = 'sarfaraz'
                
            Ex-02 : a = '15'
                    b = '20'
                    print(a+b)
                    This example concatenates string and gives output as '1520'

Q3.Describe three different data types.

Ans. The different types of data types in python are :
    integer, float, complex number, boolean, string, list, tuple, set, dictionary
    
    1. complex number : complex number is a combination of an integer or float number and an imaginary number.
                ex. : 34 + 5j where 34 is integer number and 5j is complex number.
                     we can find the datatype of 34 + 5j by using type keyword
                    input : a = 34 + 5j
                             type(a)
                    output : complex
    
2. list : list is a data structure which is mutable ordered sequence of heterogeneous elements enclosed in square brackets.
        
                Ex. : a = ['sarfaraz', 'sudh', 2452, 34 + 5j]
                
3. Dictionary : dictionary is an unordered collection that contains key : value pairs seperated with commas inside 
                curly brackets.
                Ex. : b = {key1 : 'sarfaraz', key2 : 'sudh' , key3: [2,3,4]}

In [8]:
#Example for different datatype
a = type(4 + 5j)
b = type([2,3,4])
c = type({1 : 'sudh', 2: 'sarfaraz'})
d = type(34)
e = type(34.423)
f = type(True)
g = type({'sarfaraz', 34, 34.43})
h = type((3,4,5,6))

In [9]:
a,b,c,d,e,f,g,h

(complex, list, dict, int, float, bool, set, tuple)

Q4. What is an expression made up of? What do all expressions do?
Ans.
An expression is a combination of operators and operands that is interpreted to produce some other value.

There are different types of expressions in python
Ex. : a+b , a-b, a*b, a/b, a//b, a**b, a%b, a and b, a or b etc


An expression will interpret a value by performing operations between 2 or more variables or functions using operators 
with the help of compiler.

For Ex. : a = 10
          b = 20
          c = a + b ; here in this expression variable c is assigned with output off summation of variable a and b

5. This assignment statements, like spam = 10. What is the difference between an
expression and a statement?
Ans.
Statements represent an action or command, they are standalone and doesn't return any value.
e.g print statements, assignment statements.

Expression is a combination of variables, operations and values that yields a result value.
Ex. a = 5*10

Q6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [12]:
# the output for question 6
bacon = 22
bacon + 1
#After executing, the value of bacon will be 22 because bacon is globally assigned to 22

23

In [13]:
bacon

22

7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

In [14]:
#output of question 7
"spam"+ 'spamspam'

'spamspamspam'

In [15]:
'spam'*3

'spamspamspam'

In [16]:
# thus we can conclude that the output of both the expressions will be same

8. Why is eggs a valid variable name while 100 is invalid?

variable naming rules
1. Variable name should start with letter(a-zA-Z) or underscore (_).
2.In variable name, no special characters allowed other than underscore (_).
3.Variables are case sensitive.
4.Variable name can have numbers but not at the beginning.
5.Variable name should not be a Python keyword.Keywords are also called as reserved words.

Thus with above rules we can conclude that eggs has all the letters and is a valid variable name,
whereas 100 is an integer and cannot be used as a variable name.

9. What three functions can be used to get the integer, floating-point number, or string
version of a value?

In [17]:
#output for question 9
a = int(34)
b = float(34)
c = str(34)
#thus the above mentioned functions will give output as integer, floating & string version of 34

In [18]:
a,b,c

(34, 34.0, '34')

10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

Ans.
In python 2 or more strings can be concatenated.
wheras in above example there are 2 strings and an integer number. Thus we will not get the output of above expression.

we can concatenate above expression by enclosing 99 within single or double quotation or we typecast 99 using str function

In [20]:
'i have eaten'+ 99 + 'burritos'

TypeError: can only concatenate str (not "int") to str

In [22]:
'i have eaten '+ '99' + ' burritos'

'i have eaten 99 burritos'

In [23]:
'i have eaten '+ str(99) + ' burritos'

'i have eaten 99 burritos'